
body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    padding: 15px 200px 40px;
    gap: 40px;
}

.top-head {
    display: flex;
    justify-content: space-between;
}

.top-mid {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.hero {
    max-width: 450px;
    flex: 1;
    flex-wrap: wrap;
}

.hero > h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin-bottom: 0;
}

.hero > p {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0;
    margin-bottom: 5px;
}

.top-mid-image {
    display: flex;
    align-items: center;
}

.top-mid-image > * {
    max-width: 400px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
}

.top-head > ul {
    list-style: none;
    display: flex;  
    gap: 15px;
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    padding: 8px 20px;
}

.mid-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mid-boxes > h1 {
    padding-bottom: 20px;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.mid-boxes > ul {
    list-style: none;
    display: flex;
    gap: 45px;
    padding: 0;
    margin: 0;
}

.mid-boxes > ul > li {
    display: flex;
    max-width: 150px;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding-bottom: 50px;
}

.mid-boxes > ul > li > img {
    max-width: 150px;
}

.mid-quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 400px 50px;
    background-color: #E5E7EB;
}

.mid-quote > h1 {
    font-size: 36px;
    font-weight: 300;
    font-style: oblique;
    color: #1f2937;
    align-self: center;
    padding-top: 25px;
    padding-bottom: 0;
    margin: 0;
}

.mid-quote > p {
    align-self: flex-end;
    font-weight: 800;
    font-size: 18px;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call {
    display: flex;
    background-color: #3882F6;
    border-radius: 8px;
    color: white;
    padding: 30px 70px;
    margin: 50px;
    gap: 200px;
    align-items: center;
}

.call-spiel > h1, p {
    padding: 0;
    margin: 0;
}